In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("loan_approval_dataset.csv", skiprows=0)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
df.drop(columns="loan_id", inplace=True)

In [4]:
df.columns

Index([' no_of_dependents', ' education', ' self_employed', ' income_annum',
       ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [5]:
df.columns = [i.strip() for i in df.columns]

In [6]:
df.isnull().sum().sum()

0

In [7]:
df.education.unique()

array([' Graduate', ' Not Graduate'], dtype=object)

In [8]:
df.education = df.education.apply(lambda x: 1 if x.strip() == "Graduate" else 0)

In [9]:
df.self_employed.unique()

array([' No', ' Yes'], dtype=object)

In [10]:
df.self_employed = df.self_employed.apply(lambda x: 1 if x.strip() == "Yes" else 0)

In [11]:
df.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [12]:
df.columns

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
columns = ['income_annum', 'loan_amount', 'cibil_score', 'residential_assets_value', 'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value']
df[columns] = scaler.fit_transform(df[columns])
df

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,1.617979,1.633052,12,1.032792,-0.780058,2.877289,0.832028,0.930304,Approved
1,0,0,1,-0.341750,-0.324414,8,-1.061051,-0.733924,-0.631921,-0.694993,-0.515936,Rejected
2,3,1,0,1.439822,1.610933,20,-0.544840,-0.057300,-0.107818,1.996520,2.407316,Rejected
3,3,1,0,1.119139,1.721525,8,-0.771045,1.649637,-0.381263,0.897943,0.899533,Rejected
4,5,0,1,1.689242,1.002681,20,-1.264055,0.757724,0.735304,1.568075,0.007172,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,1,1,-1.446324,-1.419268,12,-1.641063,-0.718546,-1.019301,-1.299210,-1.285213,Rejected
4265,0,0,1,-0.626801,-0.423946,20,-0.237434,-0.503257,-0.472412,-0.453306,-0.946732,Approved
4266,2,0,0,0.513405,0.969504,18,-0.829046,-0.964591,1.692361,0.326683,0.714907,Rejected
4267,1,0,0,-0.341750,-0.258059,8,1.044393,0.111856,-0.973727,-0.112748,0.253341,Approved
4268,1,1,0,1.475453,1.610933,10,0.040972,1.588126,1.555638,2.260178,2.161148,Approved

In [14]:
x = df.drop(columns="loan_status")
y = df.loan_status

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [16]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9192037470725996

In [17]:

from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9402810304449649

In [18]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9824355971896955

In [19]:
import joblib
joblib.dump(model, "model.pkl")

['model.pkl']